body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

body #wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
}

.centered {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

*:focus{
    outline:none;
}

h1 {
    color: #ffffff;
}
